body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:581px;
}
#u415 {
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:581px;
}
#u416 {
  position:absolute;
  left:2px;
  top:282px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  position:absolute;
  left:0px;
  top:575px;
  width:375px;
  height:92px;
}
#u418 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u419 {
  position:absolute;
  left:193px;
  top:602px;
  width:137px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u420 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#33CCFF;
}
#u421 {
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:47px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#33CCFF;
}
#u422 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
}
#u423 {
  position:absolute;
  left:35px;
  top:612px;
  width:106px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 204, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:35px;
}
#u427 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u428 {
  position:absolute;
  left:336px;
  top:55px;
  width:30px;
  height:30px;
}
#u429 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u430 {
  position:absolute;
  left:275px;
  top:60px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u431 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u432 {
  position:absolute;
  left:10px;
  top:60px;
  width:117px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u433 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u436 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:52px;
}
#u437 {
  position:absolute;
  left:48px;
  top:0px;
  width:288px;
  height:52px;
}
#u438 {
  position:absolute;
  left:2px;
  top:18px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u439 {
  position:absolute;
  left:335px;
  top:0px;
  width:40px;
  height:52px;
}
#u440 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:47px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u441 {
  position:absolute;
  left:59px;
  top:3px;
  width:236px;
  height:47px;
}
#u442 {
  position:absolute;
  left:2px;
  top:16px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u443 {
  position:absolute;
  left:59px;
  top:13px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u444 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
