body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:796px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2 {
  position:absolute;
  left:0px;
  top:58px;
  width:375px;
  height:609px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:609px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1563px;
  overflow:hidden;
  touch-action:none;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1563px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1562px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1562px;
}
#u6 {
  position:absolute;
  left:2px;
  top:773px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8 {
  position:absolute;
  left:9px;
  top:151px;
  width:355px;
  height:219px;
  opacity:0.3;
}
#u9 {
  position:absolute;
  left:2px;
  top:102px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u10 {
  position:absolute;
  left:65px;
  top:162px;
  width:248px;
  height:43px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:84px;
  top:317px;
  width:202px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:61px;
  top:212px;
  width:254px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:61px;
  top:270px;
  width:247px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u18 {
  position:absolute;
  left:144px;
  top:168px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u21 {
  position:absolute;
  left:12px;
  top:784px;
  width:355px;
  height:334px;
  opacity:0.3;
}
#u22 {
  position:absolute;
  left:2px;
  top:159px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u23 {
  position:absolute;
  left:68px;
  top:794px;
  width:248px;
  height:40px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u25 {
  position:absolute;
  left:41px;
  top:844px;
  width:295px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:213px;
}
#u27 {
  position:absolute;
  left:21px;
  top:892px;
  width:333px;
  height:213px;
}
#u28 {
  position:absolute;
  left:2px;
  top:98px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u29 {
  position:absolute;
  left:128px;
  top:802px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:393px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u32 {
  position:absolute;
  left:10px;
  top:380px;
  width:355px;
  height:393px;
  opacity:0.3;
}
#u33 {
  position:absolute;
  left:2px;
  top:188px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u34 {
  position:absolute;
  left:66px;
  top:390px;
  width:248px;
  height:40px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:92px;
}
#u36 {
  position:absolute;
  left:17px;
  top:449px;
  width:333px;
  height:92px;
}
#u37 {
  position:absolute;
  left:2px;
  top:38px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:206px;
}
#u38 {
  position:absolute;
  left:17px;
  top:551px;
  width:333px;
  height:206px;
}
#u39 {
  position:absolute;
  left:2px;
  top:95px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u40 {
  position:absolute;
  left:124px;
  top:398px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u43 {
  position:absolute;
  left:9px;
  top:1128px;
  width:355px;
  height:299px;
  opacity:0.3;
}
#u44 {
  position:absolute;
  left:2px;
  top:142px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u45 {
  position:absolute;
  left:65px;
  top:1138px;
  width:248px;
  height:39px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u47 {
  position:absolute;
  left:143px;
  top:1146px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:130px;
}
#u49 {
  position:absolute;
  left:28px;
  top:1200px;
  width:322px;
  height:130px;
}
#u50 {
  position:absolute;
  left:2px;
  top:57px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:65px;
  top:1345px;
  width:248px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u53 {
  position:absolute;
  left:119px;
  top:1377px;
  width:140px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  opacity:0.2;
}
#u56 {
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u57 {
  position:absolute;
  left:26px;
  top:26px;
  width:317px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u60 {
  position:absolute;
  left:10px;
  top:1447px;
  width:345px;
  height:91px;
  opacity:0.3;
}
#u61 {
  position:absolute;
  left:2px;
  top:38px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u62 {
  position:absolute;
  left:106px;
  top:1501px;
  width:253px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64 {
  position:absolute;
  left:141px;
  top:1469px;
  width:182px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:73px;
}
#u66 {
  position:absolute;
  left:22px;
  top:1457px;
  width:74px;
  height:72px;
}
#u67 {
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:58px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:58px;
}
#u70 {
  position:absolute;
  left:2px;
  top:21px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:58px;
}
#u71 {
  position:absolute;
  left:48px;
  top:0px;
  width:288px;
  height:58px;
}
#u72 {
  position:absolute;
  left:2px;
  top:21px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:58px;
}
#u73 {
  position:absolute;
  left:335px;
  top:0px;
  width:40px;
  height:58px;
}
#u74 {
  position:absolute;
  left:2px;
  top:21px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:52px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:59px;
  top:3px;
  width:236px;
  height:52px;
}
#u76 {
  position:absolute;
  left:2px;
  top:18px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:59px;
  top:14px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1562px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:421px;
  top:0px;
  width:375px;
  height:1562px;
}
#u81 {
  position:absolute;
  left:2px;
  top:773px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u83 {
  position:absolute;
  left:430px;
  top:151px;
  width:355px;
  height:219px;
  opacity:0.3;
}
#u84 {
  position:absolute;
  left:2px;
  top:102px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u85 {
  position:absolute;
  left:486px;
  top:162px;
  width:248px;
  height:43px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u86 {
  position:absolute;
  left:2px;
  top:14px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87 {
  position:absolute;
  left:505px;
  top:317px;
  width:202px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:482px;
  top:212px;
  width:254px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:482px;
  top:270px;
  width:247px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u93 {
  position:absolute;
  left:565px;
  top:168px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u96 {
  position:absolute;
  left:433px;
  top:784px;
  width:355px;
  height:334px;
  opacity:0.3;
}
#u97 {
  position:absolute;
  left:2px;
  top:159px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u98 {
  position:absolute;
  left:489px;
  top:794px;
  width:248px;
  height:40px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u100 {
  position:absolute;
  left:462px;
  top:844px;
  width:295px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:213px;
}
#u102 {
  position:absolute;
  left:442px;
  top:892px;
  width:333px;
  height:213px;
}
#u103 {
  position:absolute;
  left:2px;
  top:98px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u104 {
  position:absolute;
  left:549px;
  top:802px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:393px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u107 {
  position:absolute;
  left:431px;
  top:380px;
  width:355px;
  height:393px;
  opacity:0.3;
}
#u108 {
  position:absolute;
  left:2px;
  top:188px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u109 {
  position:absolute;
  left:487px;
  top:390px;
  width:248px;
  height:40px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:92px;
}
#u111 {
  position:absolute;
  left:438px;
  top:449px;
  width:333px;
  height:92px;
}
#u112 {
  position:absolute;
  left:2px;
  top:38px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:206px;
}
#u113 {
  position:absolute;
  left:438px;
  top:551px;
  width:333px;
  height:206px;
}
#u114 {
  position:absolute;
  left:2px;
  top:95px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u115 {
  position:absolute;
  left:545px;
  top:398px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u118 {
  position:absolute;
  left:430px;
  top:1128px;
  width:355px;
  height:299px;
  opacity:0.3;
}
#u119 {
  position:absolute;
  left:2px;
  top:142px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u120 {
  position:absolute;
  left:486px;
  top:1138px;
  width:248px;
  height:39px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u121 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u122 {
  position:absolute;
  left:564px;
  top:1146px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:130px;
}
#u124 {
  position:absolute;
  left:449px;
  top:1200px;
  width:322px;
  height:130px;
}
#u125 {
  position:absolute;
  left:2px;
  top:57px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:486px;
  top:1345px;
  width:248px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u128 {
  position:absolute;
  left:540px;
  top:1377px;
  width:140px;
  height:40px;
}
#u129 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u130 {
  position:absolute;
  left:421px;
  top:0px;
  width:375px;
  height:135px;
  opacity:0.2;
}
#u131 {
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u132 {
  position:absolute;
  left:447px;
  top:26px;
  width:317px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u135 {
  position:absolute;
  left:431px;
  top:1447px;
  width:345px;
  height:91px;
  opacity:0.3;
}
#u136 {
  position:absolute;
  left:2px;
  top:38px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u137 {
  position:absolute;
  left:527px;
  top:1501px;
  width:253px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:562px;
  top:1469px;
  width:182px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:73px;
}
#u141 {
  position:absolute;
  left:443px;
  top:1457px;
  width:74px;
  height:72px;
}
#u142 {
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
