body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:615px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:615px;
}
#u3 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5 {
  position:absolute;
  left:86px;
  top:582px;
  width:203px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:16px;
  top:394px;
  width:171px;
  height:45px;
}
#u8_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:167px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:186px;
  top:394px;
  width:171px;
  height:45px;
}
#u10_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:167px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u12 {
  position:absolute;
  left:16px;
  top:344px;
  width:138px;
  height:24px;
  font-size:20px;
  color:#1E1E1E;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u15 {
  position:absolute;
  left:16px;
  top:158px;
  width:339px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:335px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:314px;
  top:168px;
  width:30px;
  height:30px;
  color:#949494;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u19 {
  position:absolute;
  left:16px;
  top:114px;
  width:138px;
  height:24px;
  font-size:20px;
  color:#1E1E1E;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u22 {
  position:absolute;
  left:16px;
  top:271px;
  width:339px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u23 {
  position:absolute;
  left:2px;
  top:13px;
  width:335px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24 {
  position:absolute;
  left:314px;
  top:281px;
  width:30px;
  height:30px;
  color:#949494;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u26 {
  position:absolute;
  left:16px;
  top:226px;
  width:138px;
  height:24px;
  font-size:20px;
  color:#1E1E1E;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:35px;
  top:203px;
  width:303px;
  height:192px;
}
#u30 {
  position:absolute;
  left:2px;
  top:88px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
.u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
.u32_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u32.mouseOver {
}
.u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u31-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:299px;
  height:30px;
}
#u31-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:299px;
  height:30px;
}
#u31-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:299px;
  height:30px;
}
#u31 {
  position:absolute;
  left:37px;
  top:257px;
  width:299px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:42px;
  top:205px;
  width:289px;
  height:27px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:55px;
  top:209px;
  width:244px;
  height:21px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u38 {
  position:absolute;
  left:302px;
  top:207px;
  width:22px;
  height:23px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:42px;
  top:232px;
  width:289px;
  height:27px;
}
#u40_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40.mouseOver {
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:285px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:34px;
  top:316px;
  width:303px;
  height:192px;
}
#u44 {
  position:absolute;
  left:2px;
  top:88px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
.u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
.u46_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u46.mouseOver {
}
.u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
}
#u45-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:299px;
  height:30px;
}
#u45-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:299px;
  height:30px;
}
#u45-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:299px;
  height:30px;
}
#u45-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:299px;
  height:30px;
}
#u45-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:299px;
  height:30px;
}
#u45 {
  position:absolute;
  left:36px;
  top:318px;
  width:299px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:35px;
  top:203px;
  width:300px;
  height:170px;
}
#u50 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:41px;
  top:266px;
  width:287px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:54px;
  top:271px;
  width:255px;
  height:29px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:124px;
  top:226px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u56 {
  position:absolute;
  left:112px;
  top:321px;
  width:133px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 204, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:0px;
  top:52px;
  width:375px;
  height:35px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u61 {
  position:absolute;
  left:336px;
  top:55px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:275px;
  top:60px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:10px;
  top:60px;
  width:89px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u69 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:52px;
}
#u70 {
  position:absolute;
  left:48px;
  top:0px;
  width:288px;
  height:52px;
}
#u71 {
  position:absolute;
  left:2px;
  top:18px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u72 {
  position:absolute;
  left:335px;
  top:0px;
  width:40px;
  height:52px;
}
#u73 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:47px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:59px;
  top:3px;
  width:236px;
  height:47px;
}
#u75 {
  position:absolute;
  left:2px;
  top:16px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:59px;
  top:14px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
